*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #fff;
  font-family: Georgia, serif;
}
a {
  color: red;
}
.reveal {
  width: 100%;
  height: 100vh;
}
img {
  width: 100%;
}
.reveal form {
  margin: 0px auto;
  width: 50%;
  min-width: 320px;
}
textarea {
  width: 100%;
  height: 200px;
  font-family: Monaco, Consolas, monospace;
  background-color: #222;
  padding: .3rem .5rem;
  color: #fff;
  border: none;
}
button {
  width: 100%;
  background-color: green;
  color: #fff;
  border: none;
  padding: .5rem;
  margin-top: .2rem;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #000;
  z-index: 99999999;
}
